.jumbotron {
  background-color: rgba(14, 245, 245, 0.659) !important;
  padding: 20px 20px 20px 20px;
  margin: 0px auto;
  text-align: center;
}

.home-header {
  text-align: center;
}

.carousel-item > img {
  margin-top: 50px;
  margin-bottom: 10px;
}

.home-header-heading {
  font-style: italic;
}

.carouselItem {
  align-items: center;
  justify-content: center;
}
